'__pycache__' 
'*.pyc' 
'geckodriver*.*' 
'db.sqlite3' 
superlists/__pycache__/settings.cpython-37.pyc
superlists/__pycache__/__init__.cpython-37.pyc
lists/__pycache__/urls.cpython-37.pyc
geckodriver.log
geckodriver.exe
geckodriver-v0.27.0-win64.zip
superlists/__pycache__/wsgi.cpython-37.pyc
superlists/__pycache__/urls.cpython-37.pyc
db.sqlite3
*.pyc
