[Unit]
Description=Gunicorn server for DOMAIN 

[Service]
Restart=on-failure
User=pubuntu
WorkingDirectory=/home/pubuntu/sites/DOMAIN
EnvironmentFile=/home/pubuntu/sites/DOMAIN/.env

ExecStart=/home/pubuntu/venv/tdd-book/bin/gunicorn \
    --bind unix:/tmp/superlists-DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

